.grades {
    background-color: pink;
}

.node {
    cursor: pointer;
    opacity: 0.3;
}

.label {
    text-anchor: middle;
    pointer-events: none;
}

.node--leaf:hover {
    stroke: #000;
    stroke-width: 3px;
}

.selected-node {
    stroke-width: 10px;
    stroke: url(#rainbow);
}

.selected-node:hover {
    stroke-width: 10px;
    stroke: url(#rainbow);
}

.non-directional {
    stroke-dasharray: 3 3;
    stroke: black;
    stroke-width: 3;
}

.non-directional:hover {
    stroke-dasharray: none;
}

.node--leaf {
    fill: white;
    opacity: 1;
}

#selectedRing {
    stroke: black;
    stroke-width: 4;
    opacity: 1;
    fill: none;
}

.circlePath {
    fill: none;
}

.gradeHeading {
    fill: #aaa;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.node--cluster-major {
    fill: rgb(110, 199, 110);
    opacity: 0.8;
}
.node--cluster-additional {
    fill: dodgerblue;
    opacity: 0.4;
}
.node--cluster-supporting {
    fill: rgb(248, 220, 60);
    opacity: 0.8;
}

.node--has-topics {
    fill: white;
    opacity: 0.25;
}