
.node {
    cursor: pointer;
}

.label {
    text-anchor: middle;
    pointer-events: none;
    font-size: 0.8em;
}

.node--leaf:hover {
    stroke: #000 !important;
    stroke-width: 1px !important;
}

.node--leaf {
    fill: white;
    opacity: 0.8;
}

circle {
    opacity: 0.3;
}

.circlePath {
    fill: none;
}

.gradeHeading {
    fill: rgb(121, 195, 201);
    font-size: 2.5em;
    /* fill: #8ecdd4; */
}