.node {
    cursor: pointer;
    opacity: 0.4;
}

.label {
    text-anchor: middle;
    pointer-events: none;
    opacity: 0.8;
}

.node--leaf:hover {
    stroke: #000;
    stroke-width: 3px;
}

.selected-node {
    stroke-width: 4px;
}

.non-directional {
    stroke-dasharray: 1 3;
    stroke: black;
    stroke-width: 3;
}

.non-directional:hover {
    stroke-dasharray: none;
}

.node--leaf {
    cursor: pointer;
    fill: white;
    opacity: 1;
}

.node--cluster {
    stroke:#333;
}

#selectedRing {
    stroke: black;
    stroke-width: 4;
    opacity: 1;
    fill: none;
}

.circlePath {
    fill: none;
}


.gradeHeading {
    fill: #999;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.node--cluster-major {
    fill: rgb(110, 199, 110);

}
.node--cluster-additional {
    fill: dodgerblue;

}
.node--cluster-supporting {
    fill: rgb(248, 220, 60);

}

.node--has-topics {
    fill: #fff;
    opacity: 0.3;

}

.diminished-node {
    opacity: 0.5;
}

.steps-from-selected {
    fill:#fff;
    opacity: 0.6;
    text-anchor: middle;
    pointer-events: none;
}

.unrelated-label {
    opacity: 0.4;
}