/* #legend has some custom styles beyond what it inherits from .panel */
#legend {
    bottom: 0;
    right: 0;
    width: 190px;
    border-radius: 10px 0 0;
    border: 1px solid #ccc;
}

#legendToggleIcon {
    left: 4px;
    top: 8px;
}

.legend-open {
    height: 348px;
}

.legend-closed {
    height: 22px;
    overflow-x: hidden;
}

.legendOpen {
    transition: all 0.5s ease;
    transform: rotate(-180deg);
}

.legendClosed {
    transition: all 0.5s ease;
    transform: rotate(-270deg);
}

#legend dl {
    margin-top: 0;
    cursor: pointer;
}

#legend dl dt {
    font-size: 1.5em;
    margin: 3px 0 18px 24px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

#legend dl dd {
    margin: 0 0 4px 0;
}

.standardsList {
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

.legendItem {
    vertical-align: middle;
}

.selected-node-example {
    stroke-width: 5px;
    stroke: url(#rainbow);
    fill: none;
}

.selectedRing-example {
    stroke: black;
    stroke-width: 2;
    opacity: 1;
    fill: none;
}

.non-directional-example {
    stroke-dasharray: 2 2;
    stroke: black;
    stroke-width: 2;
}

.prerequisite-example {
    filter: url(#inset-shadow-example);
}

.enabled-example {
    filter: url(#raised-example);
}

.major-example {
    fill: #84ca83;
}

.additional-example {
    fill: #90bce9
}

.supporting-example {
    fill: #f2db5f
}

