/* #legend has some custom styles beyond what it inherits from .panel */
#legend {
    bottom: 0;
    right: 0;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 8px 6px 8px 14px;
}

#legendToggleIcon {
    left:3px;
    top: 4px;
}

.legend-open {
    height: 348px;
    overflow-y: hidden;
}

.legend-closed {
    height: 26px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.legendOpen {
    transition: all 0.5s ease;
    transform: rotate(-180deg) scale(0.8);
}

.legendClosed {
    transition: all 0.5s ease;
    transform: rotate(-270deg) scale(0.8);
}

#legend dl {
    margin-top: 0;
    cursor: pointer;
}

#legend dl dt {
    font-size: 1.5em;
    margin: 3px 0 18px 25px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

#legend dl dd {
    margin: 0 0 4px 0;
}

.standardsList {
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

.legendItem {
    vertical-align: middle;
}

.selected-node-example {
    stroke-width: 2px;
    stroke: url(#rainbow);
    fill: none;
}

.non-directional-example {
    stroke-dasharray: 1 3;
    stroke: black;
    stroke-width: 2;
}

.major-example {
    stroke-width: 6;
    stroke: #888;
    fill: #c7c7c7;
}

.additional-example {
    fill: #c7c7c7;
}

.supporting-example {
    stroke-width: 3;
    stroke: #888;
    fill:#c7c7c7;
}

