#side-panel {
    transition: height 0.5s ease-out;
    background-color:#fff;
    position: absolute;
    top: 0;
    width: 25%;
    min-width: 250px;
    padding: 12px 18px;
    box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, .2);
    overflow: auto;
    border-radius: 0 0 10px;
    font-size: 0.9em;
}

.side-panel-closed {
    height: 32px;
    overflow-x: hidden;
}

.side-panel-open {
    height: 520px;
}

h2 {
    line-height: 140%;
}

.sidePanelHeading {
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 32px;
}

#collapseIcon {
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer;
    border: 0;
 }

 .closed {
     transition: all 0.5s ease;
     transform: rotate(-90deg);
 }

 .open {
     transition: all 0.5s ease;
     transform: rotate(0deg);
 }


/*
This is a hack. Maybe after I retire I will have the time to figure out a better
way to fix a gradient image on top of text. I know it's going to cause trouble,
but I'll probably move away from this type of sidebar and have one that stretches 100%

What this means now is that the styles that change above also have to change below.

Also note that with this solution one can't scroll if their cursor is hovered over the
gradient.
*/
/* .fixed-reveal-gradient {
    position: absolute;
    padding: 20px;
    top: 480px;
    left: 0;
    width: 24%;
    max-width: 390px;
    min-width: 210px;
    height: 40px;
    background-image: linear-gradient(to bottom, transparent, white 80%);
}

.hide-show-side-panel {
    background-color:#fff;
    position: absolute;
    right: -30px;
    top: 10px;
} */