
h1 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: x-large;
}

h1, h2 {
    line-height: 140%;
}

h2.commonCoreCode {
    margin: 16px 0 8px;
    font-size: xx-large;
}

#dynamicContent {
    font-size: 0.9em;
    margin-top: 16px;
}

.closedPanel {
    transition: all 1s ease-out;
    transform: translateX(-100%);
}

#cluster {
    display: none;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    padding: 12px;
    line-height: 130%;
}

#clusterDescription {
    font-size: smaller;
    margin-bottom: 0;
    margin-top: 8px;
}

#clusterDescription p {
    margin-bottom: 0;
    margin-top: 8px;
}

dl#topics div {
    margin-bottom: 8px;
    padding: 8px;
    font-size: smaller;
}

dl#topics dt {
    font-weight: bold;
}
dl#topics dd {
    margin-left: 0;
    padding-left: 0;
}

dl#topics div.selectedTopic {
    border: 2px solid black;
    border-radius: 4px;
}

#khanContent {
    display: none;
}

#khanContentLinks {
    margin-top: 0;
    padding-left: 8px;
    list-style-type: none;
}
#khanContentLinks li {
    margin-bottom: 8px;
}

#collapseIcon {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
    border: 0;
 }

 .closed {
     transition: all 0.5s ease;
     transform: rotate(-90deg);
 }

 .open {
     transition: all 0.5s ease;
     transform: rotate(0deg);
 }
