#cluster {
    display: none;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    padding: 12px;
    line-height: 130%;
}

#clusterDescription {
    font-size: smaller;
    margin-bottom: 0;
    margin-top: 8px;
}

#clusterDescription p {
    margin-bottom: 0;
    margin-top: 8px;
}