.dynamic-content {
    font-size: 0.9em;
}

#cluster {
    display: none;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    padding: 12px;
    line-height: 130%;
}

#clusterDescription {
    font-size: smaller;
    margin-bottom: 0;
    margin-top: 8px;
}

#clusterDescription p {
    margin-bottom: 0;
    margin-top: 8px;
}

dl#topics div {
    margin-bottom: 8px;
    padding: 8px;
    font-size: smaller;
}

dl#topics dt {
    font-weight: bold;
}
dl#topics dd {
    margin-left: 0;
    padding-left: 0;
}

dl#topics div.selectedTopic {
    border: 2px solid black;
    border-radius: 4px;
}

#khanContent {
    display: none;
}

#khanContentLinks {
    margin-top: 0;
    padding-left: 8px;
    list-style-type: none;
}
#khanContentLinks li {
    margin-bottom: 8px;
}
